* {
    padding: 0px;
}
body {
    background-image: url(images/lines.png);
    background-color: bisque;
}
h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight:900;

}
input {
    border: 1px solid black;
    height: 40px;
}
.addBtn {
    border: 1px solid black;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
}
.formCon {
    background-color: white;
    border: 1px solid black;
    font-size: 30px;
    max-width: 600px;
    box-shadow: 5px 10px 8px grey;
}

.rmvBtn {
    border: 1px solid black;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    
}
.checkBox {
    border: 50%;
}
input[type="checkbox"] {
    width: 30px;
    height: 30px;
}
.row {
    vertical-align: middle;
    text-align: center;
}
#completed {
    text-decoration: line-through;
}
hr {
    background-color: black;
}
#hidden {
    display: none;
}