/* color pallette */
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: lightblue;
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
}

/* navbar */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  background-color: #073b4c;
  color: #fafaff;
}
nav h1 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
}
nav img {
  height: 40px;
  margin-left: 0.375rem;
  width: auto;
}

/* main container */
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 3em;
  max-width: 1400px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 1em 0;
}

.formCon {
  background-color: white;
  border: 1px solid black;
  font-size: 30px;
  max-width: 600px;
  -webkit-box-shadow: 5px 8px 6px rgb(51, 51, 51);
          box-shadow: 5px 8px 6px rgb(51, 51, 51);
  border-radius: 15px;
}

.list-container {
  width: 100%;
}
.list-container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
}
.list-container-item:nth-of-type(odd) {
  background-color: lightcyan;
}

.new-task input {
  padding-left: 2rem;
  border: 1px solid black;
  height: 40px;
  border-radius: 5px;
  font-size: 1.08rem;
}

/* todo container */
.btn, .remove-btn {
  background-color: #073b4c;
  color: white;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin: 0 0.375rem;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.btn-success {
  background-color: green;
}
.btn-success:hover {
  background-color: darkgreen;
}

.remove-btn {
  background-color: red;
  padding: 5px 10px;
  font-size: 1.25rem;
}
.remove-btn:hover {
  background-color: darkred;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
}

#hidden {
  display: none;
}

/* theme switch */
.theme-switch {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 34px;
  width: 60px;
}
.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: absolute;
  left: calc(100% - 80px);
  top: 5em;
}
.switch-text {
  font-size: 12px;
  width: auto;
  text-align: center;
  margin: 0;
  color: black;
}

#checkbox[checked] .switch > p {
  color: white;
}

.dark-text {
  color: white;
}

.quote-container,
.weather-container {
  width: 100%;
}

.container {
  height: auto;
  border-radius: 20px;
  margin: 1em;
  padding-top: 2em;
  box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.61);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.container-content {
  height: 87%;
  max-height: 300px;
  background-color: white;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 0;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.todo-container {
  background-color: #06d6a0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.todo-container-content {
  min-height: 20em;
}

.user-container, .quote-container,
.weather-container {
  background-color: #118ab2;
  width: 15em;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.user-container-content {
  min-height: 20em;
}
.user-container-content-img {
  width: 50%;
  max-width: 150px;
  outline: 2px solid #118ab2;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  border-radius: 50%;
  margin-bottom: 0.75rem;
}
.user-container-content p:first-of-type {
  margin: 0;
}
.user-container-content p:not(:first-of-type) {
  font-size: 2em;
  line-height: 1.375em;
  margin-top: 0;
}
.user-container-content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.user-container-content-row a img {
  height: 100%;
  width: auto;
  margin: auto 0;
  cursor: pointer;
  -webkit-transition: 50ms ease-in-out;
  transition: 50ms ease-in-out;
}
.user-container-content-row a img:hover {
  scale: 1.08;
}

.quote-container {
  background-color: #e4d9ff;
}
.quote-container-content {
  min-height: 5em;
}
.quote-container-content h3 {
  padding: 0;
  margin-bottom: 0.375em;
  text-align: center;
}
.quote-container-content p {
  margin: 0.375em 0;
}

.completed p {
  text-decoration: line-through;
}

.weather-container {
  background-color: #ffd166;
}
.weather-container-content {
  min-height: 5em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.weather-container-content img {
  width: 60px;
}
.weather-container-content p {
  display: inline-block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.dark-mode {
  color: rgb(206, 204, 204);
}
.dark-mode-main {
  background-color: #30343f;
}
.dark-mode-main nav {
  background-color: #1e2749;
}
.dark-mode-main .container-content {
  background-color: #273469;
  color: white;
}
.dark-mode-main .list-container-item {
  color: black;
}
.dark-mode-main .list-container-item:nth-of-type(even) {
  color: white;
}

@media (max-width: 768px) {
  .switch {
    top: 1em;
  }
  .switch-text {
    color: white;
  }
  nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  nav h1 {
    display: none;
  }
}
.stacked-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  max-width: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .container {
    width: 60%;
  }
  .todo-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .user-container, .quote-container,
.weather-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .stacked-containers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 80%;
  }
  .main-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 1200px) {
  .stacked-containers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}